/* ==========================================================================
   Common CSS
   ========================================================================== */
		body {
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			color: #616368;
			line-height: 1.625;
		}
		img {
			max-width: 100%;
		}
		.blue-btn {
   			background-color: #2500f9;
   			font-size: 16px;
   			font-weight: bold;
   			color: #fff;
   			padding: 12px 15px;
   			border-radius: 50px;
   			transition: all 0.4s ease-in-out 0s;
   			max-width: 150px;
   			text-align: center;
   			display: inline-block;
		    width: 100%;
   		}
   		.blue-btn:hover {
   			color: #fff;
   			opacity: 0.6;
   		}
   		.normal-btn {
   			color: #2500f9;
   			transition: all 0.4s ease-in-out 0s;
   		}
   		.normal-btn:hover {
   			opacity: 0.6;
   		}
		.parallax {
			position: relative;
		}
		.color-red {
   			color: #f55767;
   			font-size: 20px;
   			font-weight: 600;
   		}
   		.color-blue {
   			color: #2563ff;
   			font-size: 20px;
   			font-weight: 600;
   		}
   		.color-green {
   			color: #40975f;
   			font-size: 20px;
   			font-weight: 600;
   		}
   		.section-title h2 {
   			font-size: 36px;
   			color: #242f51;
   			font-weight: bold;
   		}

/* ==========================================================================
   Header CSS
   ========================================================================== */
   		.site-header {
   			padding: 93px 0 0;
   		}
   		.site-header nav ul li {
   			padding: 0 20px;
   		}
   		.site-header .navbar-light .navbar-nav .nav-link {
   			padding: 0;
   			color: #242f51;
   		}
   		.header-btn .blue-btn {
   			margin-left: 40px;
   		}

/* ==========================================================================
   Banner CSS
   ========================================================================== */
   		.banner-section {
   			padding: 55px 0;
   			background-image: url("../img/banner-bg.png");
   			background-repeat: no-repeat;
   			background-size: cover;
   		}
   		.banner-inner-text span {
   			background-color: #e2eaed;
   			border-radius: 50px;
   			padding: 0 44px 0 0;
   			color: #242f51;
   		}
   		.banner-inner-text span img {
   			margin-right: 10px;
   		}
   		.banner-inner-text h1 {
   			font-size: 60px;
			font-weight: bold;
			line-height: 1.25;
			color: #242f51;
			margin-top: 20px;
   		}
   		.banner-inner-text p {
   			font-size: 18px;
   		}

/* ==========================================================================
   Companies
   ========================================================================== */
   		.companies-section {
   			padding: 116px 0;
   		}
   		.companies-section .logo-box {
   			width: 20%;
   			padding: 0 15px;
   			position: relative;
   		}
   		.companies-section .logo-slider .slick-track {
   			display: flex;
   			align-items: center;
   		}

/* ==========================================================================
   Features
   ========================================================================== */
   		.features-section h2 {
   			font-size: 36px;
   			font-weight: 600;
   			color: #242f51;
   		}
   		.features-section p {
			line-height: 1.625;
   		}
   		.features-section .features-inner-box h3 {
   			font-size: 20px;
   			font-weight: 600;
   		}

/* ==========================================================================
   Jackpot
   ========================================================================== */
   		.jackpot-section {
   			padding: 50px 0 0;
   		}
   		.jackpot-section h2 {
   			font-size: 40px;
   			font-weight: bold;
   			color: #242f51;
   			position: relative;
   		}
   		.jackpot-section h2:after {
   			content: '';
   			position: absolute;
   			top: 0;
   			right: 50px;
   			bottom: 0;
   			width: 1px;
   			height: 100%;
   			background-color: #b9b9b8;
   		}
   		.jackpot-box {
   			padding: 110px 0;
   		}

/* ==========================================================================
   Designed
   ========================================================================== */
   		.design-section {
   			padding: 0 0 75px;
   			border-bottom: 1px solid #f4f4f4;
   		}
   		.design-section h2 {
   			font-size: 36px;
   			color: #242f51;
   			font-weight: bold;
   		}

/* ==========================================================================
   Why Choose Us
   ========================================================================== */
   		.why-section {
   			padding: 130px 0;
   		}
   		.why-section .section-title {
   			padding-bottom: 90px;
   		}
   		.why-box h3 {
   			font-size: 20px;
   			color: #242f51;
   			font-weight: bold;
   		}
   		.why-box .row > div:nth-child(1), 
   		.why-box .row > div:nth-child(2), 
   		.why-box .row > div:nth-child(3) {
   			padding-bottom: 55px;
   		}

/* ==========================================================================
   Ultimate
   ========================================================================== */
   		.ultimate-section {
   			padding-bottom: 175px;
   		}
   		.ultimate-inner-text h3 {
   			font-size: 20px;
		    color: #242f51;
		    font-weight: bold;
   		}
   		.ultimate-inner-text .row > div:nth-child(1), 
   		.ultimate-inner-text .row > div:nth-child(2) {
   			padding-bottom: 55px;
   		}
   		.ultimate-section .section-title {
   			padding-bottom: 55px;
   		}

/* ==========================================================================
   Charges
   ========================================================================== */
   		.charges-section {
   			padding-bottom: 100px;
   			border-bottom: 1px solid #f4f4f4;
   		}
   		.charges-section .section-title {
   			padding-bottom: 50px;
   		}
   		.charges-btn div {
   			border: 1px solid #ebebeb;
		    max-width: 332px;
		    border-radius: 50px;
		    padding: 4px;
   		}
   		.charges-btn div a:nth-child(2) {
   			padding: 0 40px;
   			color: #616368;
   			font-weight: 500;
   		}
   		.charges-price-box p.price {
   			font-size: 60px;
   			font-weight: 600;
   			color: #242f51;
   		}
   		.charges-price-box p.price span {
   			font-size: 18px;
   			color: #999ca5;
   		}
   		.charges-price-box h3 {
   			font-size: 20px;
   			color: #242f51;
   			font-weight: 600;
   		}
   		.charges-price-box p {
   			color: #999ca5;
   		}
   		.charges-price-box {
   			padding: 35px 0 42px;
   			box-shadow: inset 0 -112px 56px -8px rgb(244, 247, 249, 57%);
   		}
   		.charges-price-detail p {
   			color: #999ca5;
   		}
   		.charges-inner-box {
   			box-shadow: 7px 45px 94px -11px #ebeff1;
   			border-radius: 15px;
   			border: 1px solid #ebebeb;
   		}
   		.charges-inner-box .charges-price-detail a:nth-child(6) {
   			color: #2500f9;
   		}

/* ==========================================================================
   Review
   ========================================================================== */
   		.review-section {
   			padding: 150px 0;
   			background-image: url('../img/review-1.png');
   			background-repeat: no-repeat;
   			background-position: center left;
   		}
   		.review-stars i {
   			font-size: 20px;
   			color: #ffcc00;
   		}
   		.review-slider-box h3 {
   			font-size: 20px;
   			font-weight: 600;
   			color: #242f51;
   		}
   		.review-client-name h4 {
   			font-size: 18px;
   			color: #242f51;
   		}
   		.review-client-name p {
   			font-size: 18px;
   		}
   		.review-slider .slide-arrow {
   			background-color: transparent;
   			border: 0;
   			padding: 0;
   		}
   		.review-slider {
   			position: relative;
   		}
   		.review-slider .slide-arrow.slick-disabled {
   			opacity: 0.2;
   			border: 2px solid #929292;
   			border-radius: 50%;
   		}
   		.review-slider .slide-arrow.slick-disabled img {
   			width: 46px;
   		}
   		.review-slider .slide-arrow {
   			position: absolute;
   			bottom: 15px;
   			right: 0;
   			z-index: 9;
   		}
   		.review-slider .slide-arrow.prev-arrow {
   			right: 70px;
   		}
   		.review-slider .slide-arrow.next-arrow:after {
   			content: '';
   			position: absolute;
   			left: -11px;
   			bottom: 10px;
   			top: 10px;
   			border-right: 1px solid #e7e7e7;
   		}

/* ==========================================================================
   FAQ
   ========================================================================== */
   		.faq-section {
   			padding: 50px 0 100px;
   			border-bottom: 1px solid #f4f4f4;
   		}
   		.faq-section #accordion .accordion-content {
   			display: none;
   		}
   		.faq-section #accordion {
   			max-width: 950px;
   			margin: 0 auto;
   		}
   		.faq-section #accordion .article-title {
   			font-size: 20px;
   			color: #242f51;
   			font-weight: 600;
   			cursor: pointer;
   		}
   		.faq-section #accordion .article-title i {
   			margin-left: auto;
		    display: block;
		    max-width: fit-content;
   		}
   		.faq-section #accordion .content-entry {
   			padding: 20px 40px;
   			background-color: #f5f7fa;
   			margin-bottom: 15px;
   			transition: all 0.2s ease-in-out 0s;
   		}
   		.faq-section #accordion .content-entry p {
   			padding-top: 36px;
   		}
   		.faq-section #accordion .content-entry.open {
   			padding: 50px 40px 70px;
   		}
   		.faq-section #accordion .content-entry.open .article-title i {
   			display: none;
   		}

/* ==========================================================================
   App and Footer
   ========================================================================== */
   		.site-footer {
   			padding: 100px 0 0;
   			position: relative;
   		}
   		.site-footer:after {
   			content: '';
   			position: absolute;
   			top: 0;
   			left: 0;
   			right: 0;
   			bottom: 0;
   			background-image: url('../img/app-bg.png');
   			background-repeat: no-repeat;
   			background-position: right 9px;
   			z-index: -1;
   		}
   		.site-footer .section-title h2 {
   			font-size: 48px;
   		}
   		.site-footer .app-box {
   			padding-bottom: 100px;
   		}
   		.main-footer {
   			background-color: #09142e;
   			padding: 114px 0 120px;
   		}
   		.main-footer .navbar ul li a {
   			color: #fff;
   		}
   		.main-footer .navbar {
   			padding: 50px 15px;
   		}
   		.footer-icon {
   			padding-bottom: 90px;
   		}
   		.footer-icon ul {
   			list-style: none;
   		}
   		.footer-icon ul li a {
   			font-size: 30px;
   			padding: 0 11px;
   			color: #fff;
   			opacity: 0.2;
   			transition: all 0.4s ease-in-out 0s;
   		}
   		.footer-icon ul li a:hover {
   			opacity: 1;
   		}
   		.copyright-text {
   			font-size: 14px;
   			color: #3d465a;
   		}

@media screen and (max-width: 1199px) {
	.jackpot-section h2:after {
		right: 0;
	}
	.site-header {
		padding: 40px 0 0;
	}
	.header-btn .blue-btn {
	    margin-left: 0;
	}
	.banner-inner-text h1 {
		font-size: 50px;
	}
	.btn {
		font-size: 14px;
	}
	.normal-btn {
		padding: 0;
	}
	.companies-section {
	    padding: 75px 0;
	}
	.features-section h2 {
		font-size: 30px;
	}
	.features-inner-box > .row {

	}
}
@media screen and (max-width: 991px) {
	br {
		display: none;
	}
	.design-section h2 {
		font-size: 31px;
	}
	.why-section {
	    padding: 70px 0;
	}
	.why-section .section-title {
	    padding-bottom: 40px;
	}
	.why-box h3 {
		font-size: 18px;
	}
	.why-box .row > div:nth-child(1), 
	.why-box .row > div:nth-child(2), 
	.why-box .row > div:nth-child(3) {
	    padding-bottom: 25px;
	}
	.section-title h2 {
		font-size: 27px;
	}
	.ultimate-inner-text h3 {
		font-size: 16px;
	}
	.ultimate-section {
	    padding-bottom: 95px;
	}
	.ultimate-inner-text .btn {
		margin-top: 20px !important;
	}
	.charges-section {
		padding-bottom: 60px;
	}
	.review-section {
		padding: 70px 0;
	}
	.review-slider .slide-arrow {
		bottom: -65px;
	}
}
@media screen and (max-width: 768px) {
	.navbar-collapse {
		position: absolute;
	    top: 70px;
	    background: rgb(255, 255, 255);
	    left: 0px;
	    right: 0px;
	}
	.site-header {
	    padding: 20px 0 0;
	}
	.header-btn .blue-btn {
		padding: 9px 18px;
	}
	.navbar-toggler {
		margin-left: auto;
	    margin-right: 20px;
	}
	.banner-section img {
		margin-right: auto;
	}
	.jackpot-section h2 {
		font-size: 28px;
		padding-right: 20px;
	}
	.jackpot-box {
	    padding: 40px 0;
	}
	.review-section {
		background-image: none;
	}
	.review-section img.d-none {
		display: block !important;
	}
	.faq-section {
		padding: 40px 0;
	}
	.site-footer .app-box .col-md-4 {
		padding-bottom: 15px;
	}
	.site-footer:after {
		background-image: none;
	}
	.site-footer .section-title h2 {
		font-size: 34px;
	}
	.charges-box .col-lg-4 {
		padding-bottom: 30px;
	}
	.charges-price-detail {
		padding: 40px 10px;
	}
	.navbar-toggler:focus {
		box-shadow: none;
	}
	.toggle-btn {
		width: 116px;
	}
}
@media screen and (max-width: 575px) {
	.ultimate-section {
		padding-bottom: 35px;
	}
	.jackpot-inner-box h3, .features-inner-box h3 {
		margin: 20px 0; 
	}
	.banner-inner-text h1 {
	    font-size: 40px;
	}
	.banner-inner-text a.btn.normal-btn {
		padding: 20px 0 0 6px;
	}
	.design-section {
		padding: 0 0 40px;
	}
	.why-section {
		padding: 40px 0;
	}
	.why-box h3 {
		margin: 20px 0;
	}
	.ultimate-section .section-title, 
	.ultimate-inner-text .row > div:nth-child(1), 
	.ultimate-inner-text .row > div:nth-child(2),
	.charges-section, 
	.jackpot-inner-box, 
	.why-box .row > div, 
	.features-inner-box > div, 
	.ultimate-inner-text .col-md-6 {
		padding-bottom: 20px;
		text-align: center;
	}
	.ultimate-inner-text .btn {
		margin-left: auto !important;
	    margin-right: auto !important;
	    display: block;
	}
	.review-slider {
		margin-top: 20px;
	}
	.features-inner-text {
		text-align: center;
	}
	.jackpot-section {
		text-align: center;
	}
	.design-section .col-md-6 {
		text-align: center;
	}
	.jackpot-section h2:after {
		width: 0;
	}
	.ultimate-inner-text h3 {
		margin: 20px 0;
	}
	.ultimate-inner-text {
		margin-bottom: 40px;
	}
	.charges-price-box {
		background-color: #fff;
	}
	.charges-inner-box {
		overflow: hidden;
	}
	.review-section {
		padding: 40px 0;
	}
	.review-section .review-inner {
		margin-top: 30px;
	}
	.faq-section {
		padding-top: 80px;
	}
	.review-slider .slide-arrow.prev-arrow {
	    right: auto;
	    left: calc(50% - 60px);
	}
	.review-slider .slide-arrow {
		right: calc(50% - 60px);
	}
	.site-footer .app-box {
		padding-bottom: 40px;
	}
	.design-section img {
		margin-bottom: 20px;
	}
	.features-inner-box {
		padding-top: 25px;
	}
	.companies-section {
		padding: 40px 0;
	}
	.charges-btn div {
		max-width: fit-content;
	}
	.charges-btn div a:nth-child(2) {
		padding: 0 20px;
	}
	.faq-section #accordion .article-title {
		font-size: 16px;
	}
	.faq-section #accordion .content-entry {
		padding: 20px 30px;
	}
	.navbar-light .navbar-toggler {
		margin: 0;
	}
}